
@{
    ViewBag.Title = "Res";
}

<table>
    <tr>
        <th>
            Enter Your Name
        </th>
        <th> <input type="Text" name="txt" placeholder="enter the name" /></th>
    </tr>
</table>
<label>Enter the name</label>
<input type="text" name="hi" placeholder="enter now" />
@Html.Label("hi")
@Html.TextBox("hi")
@Html.Password("j")
@Html.RadioButton("hu", "jj")
@Html.RadioButton("hu", "jj")
@Html.CheckBox("hji")
@Html.TextArea("www.facebook.com")
@Html.Encode("ji")
