@model ADO.NET_1.Models.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm()) 
{
<table>
    <tr>
        <td>  @Html.LabelFor(x => x.Username) </td>
        <td> @Html.EditorFor(x => x.Username)</td>
        <td>@Html.ValidationMessageFor(x => x.Username)</td>
    </tr>
    <tr>
        <td>  @Html.LabelFor(x => x.Password) </td>
        <td> @Html.EditorFor(x => x.Password)</td>
        <td>@Html.ValidationMessageFor(x => x.Password)</td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="check" />
        </td>
    </tr>
</table>
}
<span> @ViewBag.x </span>


