@model add_nums.Models.num

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.LabelFor(x => x.a)</td>
            <td>@Html.TextBoxFor(x => x.a)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.b)</td>
            <td>@Html.TextBoxFor(x => x.b)</td>
        </tr>
        <tr>
            <td>@Html.Label("Result")</td>
            <td><input type="text" value="@ViewBag.Value"/></td> 
        </tr>
        <tr>
            <td>
                <input type="submit" value="Click" />
            </td>
        </tr>
    </table>
}

